.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #5e4485;
  color: #fff;
  padding: 1% 0;
  font-size: 1.2em;
  border: 0;
}
.navbar-brand {
  margin-bottom: 20px;
  float: left;
  top: 5px;
  min-height: 55px;
  padding: 0 5px;
}
.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
  color: #fff;
  background-color: #5e4485;
}
.navbar-inverse .navbar-nav li a {
  color: #d5d5d5;
}
.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
}
.btn {
  font-size: 18px;
  color: #fff;
  padding: 12px 22px;
  background: #5e4485;
  border: 2px solid #fff;
}
.container {
  margin: 4% auto;
}
#icon {
  max-width: 200px;
  margin: 1% auto;
}
footer {
  width: 100%;
  background-color: #5e4485;
  padding: 5%;
  color: #fff;
}
.fa {
  padding: 15px;
  font-size: 25px;
  color: #fff;
}
.fa:hover {
  color: #d5d5d5;
  text-decoration: none;
}

.page-title {
  padding-top: 100px;
  padding-left: 150px;
}

@media (max-width: 900px) {
  .fa {
    font-size: 20px;
    padding: 10px;
  }
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }

  #icon {
    margin-top: 50px;
    align: left;
  }

  .image {
    width: 200;
    height: auto;
  }

  h4 {
    font-size: 1.7em;
  }
}

background {
  background-size: cover;
  background-attachment: fixed;
}

.project.in-project {
  colour: #fff;
}

.fa-edit {
  cursor: pointer;
  position: relative;
  right: 0;
  font-size: 1.6em;
  display: block;
  padding: 20px;
  color: black;
  trans() {
    &:hover {
      color: red;
      opacity: 0.6;
    }
  }
}

.fa-trash-alt {
  cursor: pointer;
  position: absolute;
  right: 0;
  font-size: 1.6em;
  display: block;
  padding: 20px;
  color: black;
  trans() {
    &:hover {
      color: red;
      opacity: 0.6;
    }
  }
}
